@charset "utf-8";
/* CSS Document */
body {margin:0 auto; padding:0; font-size:12px; color:#333; font-family: FontAwesome;background:#fff url(pics/bg_index.png) repeat-x top}
button {
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
   background-color: #49AFCD;
    background-image: linear-gradient(to bottom, #5BC0DE, #2F96B4);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    display: inline-block;
    line-height: 20px;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;	
	border-radius: 6px 6px 6px 6px;
    font-size: 17.5px;
}
div.index {margin:0 auto; padding:0; display:table; width:960px;}
div.index div.header {display:table; width:100%; text-align:center; height:130px;}
table.header td.header_menu_top {
    text-align: right;
    vertical-align: top;
}
table.menu_top {
    height: 34px;
    width: auto;
}
table.menu_top a {
}
table.menu_top a:hover {
}
table.menu_top td.menu_top_L {
}
table.menu_top td.menu_top_Ce {
	background:#c8eae5; border:#fff 1px solid; border-top:none; border-radius:0 0 6px 6px; box-shadow:#999 0 0 3px;
}
/*--------end header------------*/
div.index div.menu_center {display:table; width:100%;text-align:center; background:#9CF}
/*--------end menu------------*/
div.index div.middle {display:table; width:100%;}
div.index div.middle div.content {display:table; width:100%;}
div.index div.middle div.content div.content_center {float:left; width:100%;}
	div.center {float:left; width:100%}
	div.center div.product {float:left; width:100%;text-align:center; background:#CC9}
	div.center div.news {float:left; width:50%;text-align:center; background:#CCC}
	div.center div.events {float:left; width:50%;text-align:center; background:#999}
div.index div.middle div.content div.content_right {float:left; width:30%;}
	div.right {float:left; width:100%;text-align:center; background:#660}
/*--------end middle------------*/
div.footer {float:left; width:100%;text-align:center; background:url(pics/bg_footer.png) repeat-x; height:56px; line-height:56px; margin-top:15px;}
/*--------end footer------------*/
input[type="radio"]:checked + label:before {
    background-color: #A0D2EF;
}
input[type="radio"] + label:before {
    border: 1px solid #000000;
    border-radius: 50% 50% 50% 50%;
    content: "";
    display: inline-block;
    margin: 0em 0px 0 -1.8em;
	background:#fff
}
.radio4 + label:before {
    height: 1.5em;
    width: 1.5em;
}
.ques {width:100%; padding:5px 0; display:table;font-size:16px;}
.ans {width:100%; padding:5px 0; display:table;font-size:16px;}
.ans-item {width:100%;padding:5px 0;float:left; padding:0 0 0 2%;font-size:16px;}
.flip-counter{top:0; background:url(pics/bg.png) repeat;position:fixed; width:auto; padding:13px ; margin-right:10%; text-align:center; color:#fff; font-weight:bold; float:right;right:0; min-width:146px;}
.counteranswer{top:62px; background:#039 /*url(pics/bg.png) repeat*/;position:fixed; width:auto; padding:5px 13px 4px 13px ; margin-right:10%; text-align:center; color:#fff; font-weight:bold; float:right;right:0;min-width:146px;}

.frm_login {
	color: #666666;
    font: 13px/1.55 'Open Sans',Helvetica,Arial,sans-serif;
    margin: 0;
    outline: medium none;
	width:auto;
	float:right;
	display:table
	}
.sky-form header {
    background: none repeat scroll 0 0 rgba(248, 248, 248, 0.9);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: #232323;
    display: block;
    font-size: 25px;
    font-weight: 300;
    padding: 20px 30px;
	text-align:left
}
.sky-form * {
    margin: 0;
    padding: 0;
}
.sky-form fieldset {
    border: medium none;
    display: block;
    padding: 0px 0 0px 5px;
}
.sky-form section {
    margin-bottom: 20px;
}
.sky-form .row:after{
    clear: both;
    content: "";
    display: table;
}
.sky-form .row {
    margin: 0 -15px;
}
.sky-form .label.col {
    margin: 0;
    padding-top: 0px;
	text-align:left;
	padding-left:15px;
}
.sky-form .col-4 {
    width: 30.33%;
}
.sky-form .col {
    -moz-box-sizing: border-box;
    float: left;
    min-height: 1px;
}
.sky-form .label {
    display: block;
    line-height: 19px;
    margin-bottom: 6px;
}
.sky-form .textarea textarea {
    -moz-appearance: none;
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 0 0 0 0;
    border-style: solid;
    border-width: 2px;
    color: #404040;
    display: block;
    font: 15px/19px 'Open Sans',Helvetica,Arial,sans-serif;
    height: 39px;
    outline: medium none;
    padding: 8px 10px;
    width: 100%;
}
.sky-form .textarea .icon-append + textarea {
    padding-right: 46px;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    border-radius: 4px 4px 4px 4px;
    color: #555555;
    display: inline-block;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 4px 6px;
    vertical-align: middle;
}
input, textarea, .uneditable-input {
    margin-left: 0;
}
input, textarea, .uneditable-input {
    width: 215px;
}
.sky-form .note {
    color: #999999;
    font-size: 11px;
    line-height: 15px;
    padding: 0 1px;
}
.sky-form a {
    color: #2DA5DA;
}
.sky-form footer:after {
    clear: both;
    content: "";
    display: table;
}
.sky-form footer {
    background: none repeat scroll 0 0 rgba(248, 248, 248, 0.9);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
    padding: 5px 30px 15px 25px;
}
.sky-form .button {
    background-color: #2DA5DA;
    opacity: 0.8;
    transition: opacity 0.2s ease 0s;
	border-radius:0px  
}
.sky-form .button {
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font: 300 15px/39px 'Open Sans',Helvetica,Arial,sans-serif;
    height: 39px;
    margin: 10px 0 0 20px;
    outline: medium none;
    overflow: hidden;
    padding: 0 28px;
    text-decoration: none;
}
.pad10 {padding-left:10px;}
.padbot10 {padding-bottom:10px;}
td{
	padding: 5px;
	}
a{
	color: #747474 !important;
	text-decoration:none;
	}
a:hover {
	color: #706AFA !important;
	text-decoration: underline;
	}
.testheader { 
	background: none repeat scroll 0 0 rgba(248, 248, 248, 0.9);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: #232323;
    display: block;
    font-size: 18px;
    font-weight: 300;
    padding: 20px 30px;
	display:table
	}
	.title {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
    border: medium none;
    padding:10px;
	border:1px solid rgba(0, 0, 0, 0.1);
	width:40%
	}
	.timeout {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
    border: medium none;
    padding:10px;
	border:1px solid rgba(0, 0, 0, 0.1);
	width:30%
	}
	.qty {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
    border: medium none;
    padding:10px;
	border:1px solid rgba(0, 0, 0, 0.1);
	width:30%
	}
	.description {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
    border: medium none;
    padding:10px;
	border:1px solid rgba(0, 0, 0, 0.1);
	width:100%
	}
tr.row {background:#fff;}
tr.row2 {background:#eee;}	

	
	
	
	
	
	
	
	
	
	
	
	